<!-- First render navigation bar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a ng-href="{{referrer}}" class="btn btn-default navbar-btn glyphicon glyphicon-menu-left">
            </a>
        </div>
        <div class="navbar-header" style="margin:5px">
            <h5>{{task.number}}</h5>
        </div>
        <div class="nav navbar-nav navbar-right" style="margin:5px">
            <a ng-click="loginSvc.logout()" class="btn btn-default">Logout</a>
        </div>
    </div>
</nav>


<div class="container task-container">
    <div class="row" ng-if="errorMessage">
        <div class="col-md-12 alert text-center alert-danger"  role="alert">
            <span>{{errorMessage}}</span>
        </div>
    </div>
    <div class="row" ng-if="infoMessage">
        <div class="col-md-12 alert text-center alert-info"  role="alert">
            <span class="glyphicon glyphicon-refresh"></span>
            <span>{{infoMessage}}</span>
        </div>
    </div>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="control-label col-sm-3" for="number">Number</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" disabled id="number" value="{{task.number}}" placeholder="{{task.number}}">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3" for="opened">Created</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" disabled id="opened" value="{{task.created}}" placeholder="{{task.created}}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="short_description">Short Description</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" disabled id="short_description" value="{{task.short_desc}}" placeholder="{{task.short_desc}}">
            </div>
        </div>
        <br/>
        <h4>Add Comments</h4>
        <hr/>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-7">
                <textarea class="form-control" ng-model="comment" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-7" style="text-align:right">
                <button class="btn btn-primary" ng-click="addComment()">Add</button>
            </div>
        </div>
        <br/>
        <!-- some users are not allowed to see comments just display an info message to them -->
        <div ng-if="status && status!=200">
            <h4>Comments</h4>
            <hr/>
            <div class="alert alert-danger" role="alert">
                You are not authorized to see comments
            </div>
        </div>
        
        <!-- we get comments from back end only if he is allowed to see them -->
        <div ng-if="comments.length>0">
            <h4>Comments</h4>
            <hr/>
            <div ng-repeat="comment in comments">
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-7">
                        <div class="panel panel-default">
                            <div class="panel-heading">Created by
                                <strong>{{comment.sys_created_by}}</strong>    on {{comment.sys_created_on}}</div>
                            <div class="panel-body">
                                <p>{{comment.value}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
