.tr-hover {
    cursor: pointer
}
.text-center {
    text-align: center
}
.wide {
    width: 100%
}
.login-container {
    padding-top: 150px; 
    margin: auto; 
    width: 400px
}
.center {
	margin-left: 0px; 
	margin-right: 0px;
	text-align: center !important;
}

.task-container {
	padding-top:20px;
	padding-bottom:20px;
}
